.btn{
    &__img-brands{
        margin-right: 9px;
    }
    &__img-repair{
        margin-right: 9px;        
    }
    &__open-img{
        margin-right: 9px;
        width: 24px;
        height: 24px;
    }
    
}