.inf{
    &__text{
        font-family: "TT Lakes",sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color:#1B1C21;
        font-weight: 400;
        text-align: left;
    }
}