.open-aside{
    transform: translate(0px);
    box-shadow: 
    16px 0px 52px 0px #0E185033,
    -2px 0px 4px 0px #454F7E05;
    transition: all 0.5s;
    width: 320px;
    min-height: 100%;
    display: flex;     
    flex-direction: column;
    margin-left: 0;    
    background-color: #FFFFFF;
    position: absolute;
    z-index: 100; 
}