.read{
    &__text{
        margin: 0px auto;
        font-family: 'TT Lakes';
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0.2px;
        font-weight: 400;
        max-height: 90px;
        overflow: hidden;
        transition-property: max-height;
        transition-duration: 1.5s;
    }

    &__btn{
        background-color: transparent;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 500; 
    }
}

@media screen and (min-width:767px) {
    .read{
        &__text {        
        max-height: 160px;
        margin: 0px auto;
        line-height: 20px;
        text-align: left;
        transition: height 1s;
    }
}
}


.read__more{
    max-height: 1000px;
    transition-property: max-height ;
    transition-duration: 1s;
} 