.right__btn{
    background-color: #FF3E79;
    border-radius: 16px;
    height: 32px; 
    font-family: "TT Lakes", sans-serif; 
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px; 
    font-weight: 900;  
    text-align: center;
    color: #ffffff; 
    width: 119px;
    &::after{
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 2px solid #fff;
        border-left: rgba(0,0,0,0);
        border-bottom: rgba(0,0,0,0);
        transform: rotate(45deg);
        margin-left: 8px;
    } 
    &:hover{
        background-color: #ffffff;
        color:#FF3E79;
        border: 2px solid #FF3E79;
    }
    &:hover::after{
        border: 2px solid #FF3E79;
        border-left: rgba(0,0,0,0);
        border-bottom: rgba(0,0,0,0);
    }
}