.swiper-title{   
    display: block;
    font-family: 'TT Lakes',sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #7E7E82;
    padding: 16px;
    height: 82px;
    margin: 0;   
    background-image: linear-gradient(to right, #F8F8F8
    , #FFFFFF
    );  
}

@media screen and (min-width: 767){
.swiper-title{
    margin: 0;   
    height: 56px;    
    padding-left: 24px;
}   
}

@media screen and (min-width:1440px){
.swiper-title{ 
    padding-left: 32px;
    height: 56px;
    }
}