.swiper-pagination-bullet{
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
    opacity: 1;
    margin: 0 6px ;
}

.swiper-pagination-bullet-active{
    background-color: #B5B6BC;
    opacity: 1;
}

.pag-prices,
.pag-brands,
.pag-repair{    
 margin-top: 24px; 
 position: relative !important;
}

@media screen and (min-width: 767px) {
    .swiper-pagination{
        display: none;
    }
    
}